.vs/
.vscode/
build/**
target
bin
.DS_Store
*.DS_Store

key/
out/
log/

*.o
*.obj
*.idea
*.iml
*.log
*.enc
*.suo
*.lik
*.lnk
*.pdb
*.db
*.pch
*.ipch
*.pyc
*.dot
*.pbtxt
sftp-config.json

build/
.eggs/
dist/
tmp/
python/latticex.egg-info/
cc/tf/pass/test_cases/ckp
cc/tf/dpass/test_cases/ckp
__pycache__
history
zc
.exclude_cb_file
err.txt
python/latticex_rosetta.egg-info
contrib/rtt_tensor/*.so
contrib/rtt_tensor/python/core
*.swp
cc/tf/strops/core
python/latticex/*.so
.publish_to_github
publish_to_github.tar.gz
core
!core/
*.log.*
*.log

