.vs/
.vscode/
build/**
target
bin
.DS_Store
*.DS_Store

key/
out/
log/

*.o
*.obj
*.idea
*.iml
*.log
*.enc
*.suo
*.lik
*.lnk
*.pdb
*.db
*.pch
*.ipch
*.pyc
*.dot
*.pbtxt
sftp-config.json

build/
build128/
.eggs/
dist/
tmp/
python/latticex/*.so
python/latticex/lib128
python/latticex.egg-info/
cc/tf/pass/test_cases/ckp
cc/tf/dpass/test_cases/ckp
__pycache__
history
zc
.exclude_cb_file
err.txt
python/latticex_rosetta.egg-info
contrib/rtt_tensor/*.so
contrib/rtt_tensor/python/core
*.swp
cc/tf/strops/core
python/latticex/*.so
python/latticex/lib128
.publish_to_github
.publish_snn_to_github
.publish_snn_and_helix_to_github
publish_to_github.tar.gz
core
!core/
*.log.*
*.log

python/latticex/rosetta/secure/decorator/test_cases/data
*yyl*
data
data/**
example/lenet-5/train/
example/lenet-5/train/**
example/lenet-5/*.csv
example/lenet-5/rtt.logits.txt
example/lenet-5/temp.rtt.txt
example/lenet-5/temp.rtt.temp
example/lenet-5/log-plain

# ignore grpc generated cpp or header files
*.grpc.pb.cc
*.grpc.pb.h
*.pb.cc
*.pb.h

# ignore gprc generated python files
*_pb2.py
*_pb2_grpc.py
